@import "../../App.scss";

// Welcome Section Styling
.welcome {
  @extend .pages_reset_basic;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  height: 100vh;
  place-content: center;
}

.welcome_content {
  @include flex(column, center, center, 1em);
  position: relative;
  border-radius: $bd-radius-max;
  padding: 1em;
  width: 60vw;
  height: auto;
  max-height: 70vh;
  transition: border 0.3s ease;
}

.welcome_svg img {
  width: 5vw;
  position: absolute;
  left: 65%;
  top: 55%;
  filter: invert(1);
}

.actions a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem; /* 18px */
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease-in-out, color 0.3s ease; /* Combined transition */
}

/* Hover effect */
.actions a:hover {
  color: #02afaa;
  transform: scale(1.1);
}

/* Underline effect on hover */
.actions a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #02afaa;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.actions a:hover::after {
  transform: scaleX(1);
}

.action_start:hover {
  background-color: #ffffff;
}

.headline {
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1em;
}

.subheadline {
  color: var(--text-color);
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.actions {
  @include flex(row, center, center, 1em);
  gap: 1em;

  button {
    height: 3.5em;
    padding: 0.5em 1.5em;
    background-color: var(--numbers-color);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .action_docs {
    background: none;
    border: solid 1px var(--text-color);
    color: var(--text-color);
  }
}

// Mobile and Tablet Responsive Styles
@media screen and (max-width: 768px) {
  .welcome_content {
    width: 90vw; /* Adjust for smaller screens */
  }

  .headline {
    font-size: 2rem; /* Adjusted for tablet screens */
  }

  .welcome_svg img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .welcome_content {
    width: 100vw; /* Full width on smaller screens */
    max-height: none; /* Remove height limit */
  }

  .headline {
    font-size: 1.4rem;
  }

  .welcome_svg img {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .welcome {
    grid-row: 1 / 2;
  }

  .welcome_content {
    width: 90vw;
    padding: 1.5em;
  }

  .welcome_svg img {
    width: 8vw;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    display: none;
  }

  .headline {
    font-size: 1.5rem;
  }

  .subheadline {
    font-size: 1rem;
  }

  .actions {
    @include flex(column, center, center, 1em);

    button {
      width: 100%;
      font-size: 1rem;
    }
  }
}
