@import "../../App.scss";

.Services{
    color: var(--text-color);
    @extend .pages_reset;  
    grid-row: 4/6;
    border: solid 1px rgb(174, 255, 0);
    margin-top: 2em;


}

.Services_headline{
    padding: 1em;
    width: 100%;
    text-align: center;
    border: solid 1px var(--border-light);
    border-radius: 10px;
    margin-bottom: 1em;
}

.Service_blocks_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: dense;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.service_block{
    width:100%;

    h3{
        border: solid 1px rgb(125, 125, 125); 
        text-align: center;
        padding: 1em;
        font-size: 1rem;
        margin-bottom: 1em;
        color: var(--numbers-color);
        border-radius: 10px;
        
    }

    .blocks{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1em;
      
    }

    .block{
        border: solid 1px rgb(125, 125, 125); 
        text-align: center;
        padding: .5em;
        font-size: 1rem;
        border-radius: 10px;
    }
}

.Services_stat_items{
    line-height: 3em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    gap:.5em;
    justify-content: end;
    justify-items: flex-end;
    position: relative;
}

.Services_stats{
position: relative;


h3, .Services_stat_items{
    z-index: 1000;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

    img{
    position: absolute;
    width: 30vw;
    left: 0;
    z-index:0;
    filter:contrast(0) brightness(0.6);

    
    }
}


.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

.Services_stats_item{
   @include flex(row, center, center, .5em);
    justify-content: end;
    width: max-content;
    padding: .2em;

    .number{
        font-size: 2rem;
        color: var(--numbers-color);
    }

}

.Services_note{
    width: 50%;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 10px;
}

.services_notes_stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 2em;    
    position: relative;
    border-top: solid 1px var( --border-light);
    border-bottom: solid 1px var( --border-light);
    padding-top: 2em;
}

.Services_note{
    position: relative;
    line-height: 2em;
    p span{
        font-size: 2rem;
        color: var(--numbers-color);
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: bold;

    }
}

.icon_container{
    position: absolute;
    left: -30%;
    top: 10%;
    opacity: 30%;
}

.Services_stats_item{
position: absolute;
background-color: none;
}

.Services_stats_item0{
    left: 0;
}

.Services_stats_item1{
    left: 50%;
    top: 60%;
}


.Services_stats_item2{
    left: 10%;
    top: 40%;
}

.Services_stats_item3{
    right: 10%;
    top: 20%;
}


.Services_state_calculation{
    opacity: 0;
}


.Services_state_calc{
 font-size: 1rem;
 position: absolute;
 z-index: 100;
 background-color: var(--dark-highlight-color);
 padding: 1em;
 border-radius: 10px;
 font-weight: bold;
}

.arrow_svg{
    position: absolute;
    left: 40%;
    top: 30%;
}